body{
    
    font-family: sans-serif;
    text-align: center;
    padding: 30px 90px 90px 90px;
    border: 6px solid black;
    border-radius: 50px;
    position: relative;
    background-color: burlywood;

}
.login{
box-shadow: 20px 20px burlywood;
margin-top: 20px;
border: 6px brown;



}
.form-control{
    margin-top: 20px;
    display: block;
  margin: 30px auto;
  min-width: 400px;
  padding: 10px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid #0e3750;
  border-radius: 0%;
}
.form{
    align-items: center;
}
.button{ 
        background-color: red;
        color: white;
        padding: 10px 20px;
        border: none;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
      }
